block{  overflow:hidden;   }
trow {  display: table-row;  }
alignL {  display: table-cell;
           font-weight: bold; }
alignC1, .alignC2, .alignR {  display: table-cell;
                              padding-left: 20px;  }
